*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardcontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.card{
    height: 120px;
    width: 80px;
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.card img{
    width: 90%;
    overflow: hidden;
}